.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 64px;
	cursor: pointer;
	.logoImg {
		height: 40px;
		width: 40px;
		background: url(@/assets/logo.png);
		background-size: contain;
	}
	.logoTitle {
		font-size: 22px;
		line-height: 40px;
		color: #fff;
	}
}
